/* universal style */

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #4c4c4c;
}

/* Header section */

header {
    background-color: white;
    height: 64px;
    align-items: center;
    width: 100;
    padding-left: 24px;
    padding-right: 24px;
}

h1 {
    font-size: 32px;
    font-weight: normal;
}

h1 span {
    color: gray;
}

nav span {
    display: inline-block;
    padding-right: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    text-align: right;
    flex-grow: 1; 
}

/* Landing page */

.landing-page{
    display: flex;
    background-color: lightgray;
    padding-left: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
}

.flex {
    display: inline-flex
}

.flex img{
    width: 60%;
}

.headings {
    display: block;
    padding-left: 24px;
    width: 30%;
}

.headings h1{
    font-size: 50px;
    font-weight: bold;
    color: #4d4c4c;
    text-align: left;
    font-family: arial;
}

.headings h4{
    font-size: 28px;
    color: #4d4c4c;
    text-align: left;
    font-weight: normal;
    font-family: arial;
}

.headings p{
    color: white;
    background-color: #4c4c4c;
    text-align: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* page 2 */

#pagetwo{
    display: flex;
    width: 100%;    
}

.leftcontainer{
   padding: 24px 32px; 
   width: 60%;   
   
}

.leftcontainer img{
    width: 100%;

}

.lefttext{
    width: 100%;
}

.lefttext h3{
    font-size: 38px;
    
}

#rightcontainer {
    display: block;
    border-left: lightgray 1px solid;
    width: 40%;
}

.block{
    display: flex;
    border-bottom: lightgray;
}

.block img{
    width: 35%;
    height: auto;
    padding: 16px;
}

.text{
    display: block;
    width: 65%;
    vertical-align: middle;
    
}


.text a{
    text-decoration: none;
    color: lightskyblue;
}

.block3{
    display: flex;
    background-color: lightgray;
}


